# Variables and objects in Python

In this document, we will define some objects/variables and learn how to interact with them.

We can use Python to do simple computations, like this:

In [1]:
1 + 1

2

If I want to use the "output" of this code, we need to assign it to a variable/object.

In [2]:
y = 1 + 1

To access the results of the `1 + 1` computation, we need to type the name of the variable:

In [3]:
y

2

You can do mathematical operations with variables:

In [4]:
y * 6

12

In [5]:
y**2

4

In [6]:
z = y**2 + y / 2

In [7]:
z

5.0

You can overwrite variables, by re-assinging them:

In [8]:
y = 10

In [9]:
z

5.0

There is a shortcut that will let you add a number to a variable *and* update its value: `+=`

In [10]:
z + 2

7.0

In [11]:
z

5.0

In [12]:
# This is equivalent to z = z + 2
z += 2

In [13]:
z

7.0

## Exercise

What will the output of the following code cell be?

In [14]:
value = 1
computed_result = (value * 10) + (3 ** 2)
value += 2
computed_result * 2

38

## Types

The main types in python are:

- Float (decimal point): 1.2, 3.0, 5.123

- Integers: 1, 7, 11

- String (text): 'banana', 'Utah', 'Rebecca' etc

- Boolean (True/False): True or False

### Numeric types

Let's define a variable y

In [15]:
y = 2 * 3.2 + 1

In [16]:
y

7.4

We can check the class of `y` using the `type()` funciton

In [17]:
# apply the type function to the variable y
type(y)

float

Let's also create a variable `z` and check its type:

In [18]:
z = 1 + 5
z

6

In [19]:
type(z)

int

You can do mathematical operations with float and integer type objects

In [20]:
y ** 2

54.760000000000005

In [21]:
z / 2

3.0

### String types

"String" in Python just means "text", so string type objects contain text, and can be identified because they are surrounded by quotes:

In [22]:
w = 'John Doe'
w

'John Doe'

When you compute the product of a string type value with an integer $i$, it concatenates $i$ copies of the integer together into a single string:

In [23]:
w * 7

'John DoeJohn DoeJohn DoeJohn DoeJohn DoeJohn DoeJohn Doe'

But you can't perform addition with strings and integers:

In [24]:
w + 7

TypeError: can only concatenate str (not "int") to str

You can, however, perform addition between strings and other strings, which will concatenate the values being added together:

In [25]:
w + ' Smith'

'John Doe Smith'

Let's overwrite `w` with a new string value: 'banana'. Notice that we need 'banana' to be surrounded by quotes. If it is not surrounded by quotes and we just wrote `w = banana`, then we would be trying to assign `w` to the value contained in a variable/object called `banana`, but we haven't defined `banana`. Thus the quotes around the string values are very important since they distinguish string *values* from variable *names*:

In [26]:
w = 'banana'

In [27]:
w

'banana'

In [28]:
type(w)

str

You can also use the type function on *values* directly (rather than on variables):

In [29]:
type('a')

str

### Boolean type

The boolean type corresponds to binary True/False values:

In [30]:
True

True

In [31]:
7

7

Note that `True` above, is a special value, it's not a variable name. You can't just write any text and expect it to be printed out:

In [32]:
blue

NameError: name 'blue' is not defined

Let's check the type of `True`

In [33]:
type(True)

bool

Notice that this is different from the type of `'True'`, which is a string:

In [34]:
type('True')

str

The converse to `True` is `False`:

In [35]:
False

False

In [36]:
type(False)

bool

You can assign boolean values to variables, just as with integers/floats and strings:

In [37]:
a = True

In [38]:
a

True

And you can do mathematical operations with boolean values. `True` behaves as `1`, whereas `False` behaves as `0`:

In [39]:
a + 3

4

In [40]:
False + 4

4

You *cannot*, however, add Boolean values and string values together:

In [41]:
True + 'True'

TypeError: unsupported operand type(s) for +: 'bool' and 'str'

### Exercise

Which of the following computations will work? And what will their output be?

In [42]:
'True' * 4

'TrueTrueTrueTrue'

In [43]:
'banana' + 'apple'

'bananaapple'

In [44]:
False + 5

5

In [45]:
True * 'True'

'True'

In [46]:
5 + '5.2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Type conversion

Objects of one type can be converted to another type using a collection of functions whose names match the type shorthand you want to convert to.

As a reminder, the `type()` function tells us the type of a value (the output is the relevant type shorthand, `str` in this case):

In [47]:
type('4')

str

(and `int` in this case):

In [48]:
type(4)

int

The `str()` function will convert whatever value it is given to a string (whose shorthand is `str`). Below, we convert the integer `4` to a string, assign it to a variable called `a` and then we check the type of `a` (which is `str`):

In [49]:
a = str(4)
type(a)

str

We can also nest functions. Below, we convert the boolean value `False` to a string (`'False'`) and we then compute the type of the resulting string value. Note that when reading nested functions, you should start from the inner-most parentheses and work your way outwards.

In [50]:
type(str(False))

str

Unsurprisingly, when you convert a float point `3.0` to an integer using the `int()` function, it just removes the `.0` decimal point:

In [51]:
int(3.0)

3

However, when you do the same thing for a float point number with a non-zero decimal, it also just removes the decimal point:

In [52]:
int(4.2)

4

When you convert a number to a boolean using `bool()`, it is always converted to `True`, unless the number is equal to `0` (this is the only number that is converted to `False`):

In [53]:
bool(3)

True

In [54]:
bool(1)

True

In [55]:
bool(0)

False

In [56]:
bool(1.1)

True

Even negative numbers are converted to `True`:

In [57]:
bool(-3.4)

True

Strings are also generally converted to `True` when using the `bool()` function:

In [58]:
bool('hello')

True

In [59]:
type(bool('hello'))

bool

## Asking questions with boolean operations

There are several helpful operations (`==`, `<=`, `<` `!=`) that allow us to ask logical questions of our data whose answers are True or False

Let's define a variable `age` and give it the value `20`

In [60]:
age = 20

To ask a question of equality, we use two equal signs `==`

In [61]:
# is age equal to 18
age == 18

False

This questions doesn't have to involve a variable and a value, it can instead be asked directly of two values, for instance:

In [62]:
1 == 1

True

The "not equal to" operator is written `!=`. The following question asks if the `age` variable is "not equal" to 10:

In [63]:
age != 18

True

Next, to ask questions of greater than or less than, we use the `<` and `>` operators:

In [64]:
# is age greater than 18
age > 18

True

In [65]:
20 > 18

True

"Greater or equal to" is the "greater than" symbol (`>`) followed by the equals symbol (`=`):

In [66]:
# is age greater than or equal to 18
age >= 18

True

and similarly for less than or equal to:

In [67]:
# is age less than or equal to 18
age <= 18

False

Strings are treated alphabetically, so `'apple'` is "less" than `'bannana'` because the first letter of apple "a" comes before the first letter of banana "b" in the alphabet:

In [68]:
'apple' < 'banana'

True

In [69]:
'carrot' < 'banana'

False

We can also use these operators to compare the values contained within two variables:

In [70]:
age_john = 18
age_beth = 22

In [71]:
age_john < age_beth

True

## The numpy library

While there are some functions that exist "natively" in the Python programming language (like `type()`, `bool()`, `int()`, etc), Python is lacking native versions of many important functions, such as the logarithm, exponential, and square root functions. 

Fortunately, there exist libraries that can be installed and then added to your version of Python that provide access to many functions. The Numpy library (pronounced "Num Pie") is an add-on library that gives us access to many mathematical functions such as the `log()`, `exp()`, and `sqrt()` functions.

Just like an application on your computer, where you need to first download and install the application before you can use it on your computer, before you can use Python libraries, you need to first download and install them. 

You can do this by running the command `pip install <libraryname>` where you replace `<libraryname>` with the name of the library you are trying to download and install. Since this will download the library from the internet, you need to make sure that you have internet access.

Note that just like you only ever have to download and install an application to your computer *once*, you similarly only need to install each Python library *once*. Thus it is not encouraged to repeatedly run a `pip install` command every time you work on your notebook. 

Below, you need to run the command `python3 -m pip install numpy` **in a terminal window, rather than in a python notebook cell**. You can open the terminal window by selecting "Terminal > New Terminal" in the main menu of VS code.

In [72]:
#python3 -m pip install numpy

You *don't* need to include this `pip install numpy` code in your notebook.

Once you've successfully installed the numpy library once, you can import the library (make its functions available) using the `import <libraryname> as <nickname>` command below. 

Unlike the `pip install` command, you **do** need to include this `import` line of code in every new `.ipynb` notebook file.

In [73]:
import numpy as np

Let's take a look at some of the functions that the numpy library provides.

First, let's define a variable `x` that contains the value `2`:

In [74]:
x = 2

In [75]:
x

2

If we wanted to compute the logarithm of `x`, you might imagine that we would write:

In [76]:
log(x)

NameError: name 'log' is not defined

But, notice that we get an error that essentially says that Python doesn't know what `log()` is. 

This is because there is no "native" function called `log()` (native means it exists in the Python programming language without requiring additional libraries). 

However, the `numpy` library *does* include a function called `log()`. And we imported the `numpy` library above. So why can't we access the `log()` function from `numpy`? 

In Python, to access functions that come from imported libraries, you need to extract the function from the library shorthand/nickname using the `library.function()` syntax. So to access the `log()` function from `numpy`, we need to write `np.log()` instead of just `log()`:

In [77]:
np.log(x)

0.6931471805599453

This is also true of the `sqrt()` function that is imported from the `numpy` library:

In [78]:
np.sqrt(x)

1.4142135623730951

And the `exp()` function:

In [79]:
np.exp(2)

7.38905609893065

### Exercise

In [80]:
# compute the sum of the log of 7 and the square root of 8 and exponentiate the result
sum_result = np.log(7) + np.sqrt(8)
exp_result = np.exp(sum_result)
exp_result

118.43180074990526